<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中山大学社团管理系统</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/cover.css" rel="stylesheet">

    <!-- 引入下面两个库让 IE8 支持 HTML5 元素 -->
    <!-- 警告: Respond.js 通过 file:// 浏览的时候不能正常工作！-->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        input{
            color: #000;
        }
    </style>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">社团个性化定制</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><button data-toggle="modal" data-target="#signin" class="btn btn-lg btn-default">登录</button></li>
                            <a href="register" class="btn btn-lg btn-default">注册</a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <p class="cover-heading">社长账号<p>
                <p class="cover-heading">社长密码</p>
            </div>
        </div>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>